.sameLine {
 display: inline-block;
}
/*  */
.maxWidth {
    max-width: 45%;
}
.minWidth {
    min-width: 300px;
}

.halfWidth {
    width: 45%;
}

.imageTable {
    width: 500px;
}

.marginLeft {
    margin-left: 15px;
}
